body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}
.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: mediumturquoise;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
    text-align: center;
    margin-bottom: 20px;
}
.loan {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}
.loan h3 {
    margin-top: 0;
}
.loan p {
    margin-bottom: 10px;
}
.loan button{
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width:"30%";
    height:30%;
    background-color:rgb(252, 11, 236);
}
.loan image{
    margin-left:400px;
}
