*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins", sans-serif;
}
body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background-image:linear-gradient(rgba(0,0,50,0.8),rgba(0,0,50,0.8),url('D:\WT\PROJECT\bankback.jpg'));
    background-position:center;
    background-size:cover;
    position:relative;
    
}
.wrapper{
    width:420px;
    background-image:lineaqr-gradient(rgba(0,0,50,0.8),rgba(0,0,50,0.8),url('D:\WT\PROJECT\bankback.jpg'));
    background-position:center;
    background-size:cover;
    position:relative;
    color:#000000;
    border-radius:12px;
    padding:30px 40px;
}
.wrapper h1{
    font-size:36px;
    text-align:center;
}
.wrapper .input-box{
    width:100%;
    height:50px;
    background:rgb(230, 0, 255);
    margin:30px 0;
    border-radius:43px;
}
.input-box input{
    width:100%;
    height:100%;
    background:transparent;
    border:none;
    outline:none;
    border: 2px solid rgba(255,255,255,.2);
    border-radius:46px;
    color:#090909;
    padding:20px 45px 20px 20px;
}
.input-box input::placeholder{
    color:#070707;
}
.wrapper .btn{
    width:100%;
    height:45px;
    background:#fc02f8;
    border:none;
    outline:none;
    border-radius:40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor:pointer;
    font-size:16px;
    color:#000000;
    font-weight:600;
}
.login-link p a{
    color:#2604ff;
    text-decoration:none;
    font-weight:600;
    top:5%;
    align-items: center;
}
.login-link p a:hover{
    text-decoration:underline;
} 